<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/template.css}"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script th:src="@{/js/main.js}"></script>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/head/home">Vought Head Subsystem</a>
        </div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" class="btn btn-light" value="Выйти"/>
        </form>
    </nav>
</head>
<body>
<div class="container mt-5 mb-5">

    <div class="template-header">
        <H1>Заявки</H1>
    </div>

    <section class="all-actual-information">
        <div class = "control-items">
            <div class = "sorting-menu-alone">
                <label for="sortingType">Сортировать по </label>
                <select class = "" name = "sortingType"  id="sortingType" onchange="">
                    <option th:value="${selectedSortingType}" th:text="${selectedSortingType.getDescription}"></option>
                    <option
                            th:each="sortingType: ${sortingTypes}"
                            th:value="${sortingType.toString()}"
                            th:text="${sortingType.getDescription()}">
                    </option>
                </select>
            </div>
        </div>
        <table class="table hover-table application-table">
            <tbody>
                <tr th:each="el : ${applications}" class="clickable-row hover-tr" th:href="@{/head/applications/{id}(id=${el.id})}">
                    <td>
                        <p class="table-center left-element" th:text="${el.getName()}"></p>
                    </td>
                    <td>
                        <p th:utext="'<strong>Тип:</strong> ' + ${el.getApplicationType().getDescription()}"></p>
                        <p th:utext="'<strong>От:</strong> ' + ${el.getCreator().getFullName()}"></p>
                        <p th:utext="'<strong>Отдел:</strong> ' + ${el.getCreator().getDepartment().getDescription()}"></p>
                    </td>
                    <td class="text-center">
                        <div class = "table-center">
                            <label><strong>Статус</strong></label>
                            <p th:text="${el.getApplicationStatus().getDescription()}"></p>
                        </div>
                    </td>
                    <td class="text-center">
                        <div class = "table-center">
                            <label><strong>Дата обновления</strong></label>
                            <p th:text="${el.getUpdateDate().toString()}"></p>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="btn-group d-flex vought-footer" role="group" aria-label="...">
            <a href="/head/employees" class="btn btn-default w-100">Персонал</a>
            <a href="/head/sensors" class="btn btn-default w-100">Просмотр состояния</a>
            <a href="/head/applications" class="btn btn-default w-100 chosen-button">Заявки</a>
        </div>
    </section>
</div>

</body>
</html>
