<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Заявки на встречу с руководством</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" th:href="@{/css/template.css}"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
    <script th:src="@{/js/main.js}"></script>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="/hero/home">Vought Hero Subsystem</a>
        </div>
        <form th:action="@{/logout}" method="post">
            <input type="submit" class="btn btn-light" value="Выйти"/>
        </form>
    </nav>
</head>
<body>
<div class="container mt-5 mb-5">
    <div class="template-header">
        <H1>Заявки на встречу с руководством</H1>
    </div>

    <section class="all-actual-information">
        <div class = "control-items">
            <div class = "sorting-menu">
                <label for="sortingType">Сортировать по </label>
                <select class = "" name = "sortingType"  id="sortingType" onchange="">
                    <option th:value="${selectedSortingType}" th:text="${selectedSortingType.getDescription()}"></option>
                    <option
                            th:each="sortingType: ${sortingTypes}"
                            th:value="${sortingType.toString()}"
                            th:text="${sortingType.getDescription()}">
                    </option>
                </select>
            </div>
            <a class="btn btn-outline-dark" href="/hero/applications/new" role="button">Создать заявку на встречу</a>
        </div>
        <table class="table hover-table application-table">
            <tbody>
            <tr th:each="el : ${applications}" class="clickable-row hover-tr" th:href="@{/hero/applications/{id}(id=${el.id})}">
                <td>
                    <p class="table-center left-element" th:text="${el.getName()}"></p>
                </td>
                <td class="text-center">
                    <div class = "table-center">
                        <label><strong>Статус</strong></label>
                        <p th:text="${el.getApplicationStatus().getDescription()}"></p>
                    </div>
                </td>
                <td class="text-center">
                    <div class = "table-center">
                        <label><strong>Дата обновления</strong></label>
                        <p th:text="${el.getUpdateDate().toString()}"></p>
                    </div>
                </td>
                <td class="text-center">
                    <div class = "table-center">
                        <label><strong>Дата и время встречи</strong></label>
                        <p th:text="${el.getMeetingTimeFormatted()}"></p>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
        <div class="btn-group d-flex vought-footer" role="group" aria-label="...">
            <a th:if="${anyIncident}" class="btn btn-default w-100 blink alarm" href="/hero/incidents">Активные события</a>
            <a href="/hero/calendar" class="btn btn-default w-100">Календарь</a>
            <a href="/hero/applications" class="btn btn-default w-100 chosen-button">Заявки</a>
        </div>
    </section>
</div>
</body>
</html>